{% extends 'base.html' %}
{% block title %}{{posts.title}}{% endblock%}
{% block content %}


<h1>{{ posts.title }}</h1>
<h3>{{posts.content}}</h3>
<form action="/">
    <button class="btn 
    btn-sm btn-outline-primary w-90">Cancel</button>
</form>
<form action="/post/{{posts.id}}/edit">
    <button class="btn 
    btn-sm btn-primary w-90">Edit</button>
</form>
<form action="/posts/{{posts.id}}/delete" method="post">
    <button class="btn 
    btn-sm btn-danger w-90">Delete</button>
</form>


{% endblock %}
